<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS Activation Email</title>
    <style type="text/css">
        body{
            margin: 0;
            padding: 0;
            min-height: 100%;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            background-color: #FAFAFA;
            color: #222222;
        }
        a{
            color: #000;
            text-decoration: none;
        }
        h1{
            font-size: 24px;
            font-weight: 700;
            text-align: center;
        }
        p{
            margin-top: 0;
            margin-bottom: 2px;
        }
        img{
        	width:80px;
            height:60px;
        }
        table td{
            vertical-align: top;
        }
        /* Layout */
        .email-wrapper{
            max-width: 600px;
            margin: 0 auto;
        }
        .email-header{
            background-color: #f6f6f6;
            padding: 10px;
            color: #000;
            display: flex;
  			align-items: center;
  			justify-content: center;
            gap:0px 20px;
        }
        .email-body{
            padding: 24px;
            background-color: #fff;
        }
        .email-footer{
            background-color: #F6F6F6;
            padding: 24px;
        }
        .button{
            display: inline-block;
            background-color: #0070F3;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            text-decoration: none;
            padding: 12px 24px;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <div class="email-wrapper">
        <div class="email-header">
            <h1>TECH HUMA -TECH TROPOLIS 2024</h1>
        </div>
        <div class="email-body">
            <p>Hello <%= user.name %>,</p>
            <P>Forgot password? Not a problem. To reset your password, please use the 
                following OTP:
            </P>
            <h2><%= activationCode %></h2>
            <p>Please enter this code on the password reset page within the next 5 minutes.</p>
        </div>
        <div class="email-footer">
            <p>If you have any questions, Please don't hesitate to contact us at 
                <a href="https://google.com">support@techhuma.com</a>
            </p>
        </div>
    </div>
</body>
</html>